* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

.login, .register, .create-ticket {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.login > *, .register > *, .create-ticket > * {
  margin-top: 3%;
}

.login input, .login textarea,
.register input, .register textarea,
.create-ticket input, .create-ticket textarea {
  width: 100%;
  border: 1px solid black;
}

.register select {
  width: 25%;
  border: 1px solid black;
}

.login button,
.register button,
.create-ticket button,
.ticket-heading button {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1%;
  width: 25%;
  align-self: center;
}

.error {
  color: red;
}

.textarea {
  min-height: 4rem;
}

.queue {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 2%;
}

.ticket {
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  margin: 2% 1%;
  border: 1px solid black;
  padding: 2%;
  box-shadow: 3px 3px 20px #404040;
}

.ticket h2 {
  font-size: 1.8rem;
}

.ticket h3,
.ticket-heading button {
  font-size: 1.2rem;
}

.ticket p {
  font-size: 1.6rem;
}

.ticket-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ticket-heading div {
  width: 60%;
}

.ticket-body {
  margin: 3% 0;
}