@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  max-width: 100%;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  background-color: lightgrey;
}

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #2F2B4A;
  padding: 2%;
  color: #fff;
  margin-bottom: 5%;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.login, .register, .create-ticket {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.login > *, .register > *, .create-ticket > * {
  margin-top: 3%;
}

.login input, .login textarea,
.register input, .register textarea,
.create-ticket input, .create-ticket textarea {
  width: 100%;
  border: 1px solid #000;
}

.register select {
  width: 25%;
  border: 1px solid #000;
}

.login button,
.register button,
.create-ticket button,
.ticket-heading button {
  border: 1px solid #808080;
  border-radius: 10px;
  padding: 1%;
  width: 25%;
  align-self: center;
}

.error {
  color: #dc143c;
}

.textarea {
  min-height: 4rem;
}

.container {
  padding: 3%;
}

.queue {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 2%;
}

.ticket {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  width: 45%;
  min-height: 300px;
  margin: 2% 1%;
  border: 1px solid #808080;
  padding: 2%;
  box-shadow: 3px 3px 7px #404040;
  border-radius: 15px;
}

.ticket h2 {
  font-size: 2rem;
  color: #dc143c;
}

.ticket h3 {
  font-size: 1.2rem;
  font-style: italic;
}

.ticket-heading button {
  width: 100%;
  margin: 0 1.5%;
  border-radius: 7px;
  padding: 2%;
  font-size: 1.2rem;
  outline: none;
  box-shadow: 1px 1px #444;
}

.ticket-heading button:active {
  box-shadow: none;
}

.ticket p {
  font-size: 1.6rem;
}

.ticket-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ticket-body {
  width: 100%;
  margin: 3% 0;
}

.ticket-btns {
  width: 35%;
}

.ticket-btns p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #dc143c;
}

.ticket-footer p {
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 750px) {
  .ticket {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .ticket > * {
    padding: 1% 3%;
  }
  .ticket button {
    margin: 3% 0;
  }
  .login, .register, .create-ticket {
    min-width: 80%;
  }
}